.input-group-text {
    background-color: #f56692;
    color:#fff;
}

.btn {
    background-color: #f56692;
    border-color: #fff;
}

.btn-sub {
    flex-direction: row-reverse;
}

.form-control {
    position: relative;
    z-index: 1;
  }
  .datepicker-popper {
    z-index: 1000;
  }